In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules

In [2]:
df = pd.read_csv("D:\\python\\clone\\DataMiningwithPython\\Session02\\association_rules_data_set.csv")

In [3]:
df.head()

,Elapsed_Time,Time_in_Community,Gender,Working,Age,Family,Hobbies,Social_Club,Political,Professional,Religious,Support_Group
0,8.71,Short,M,No,53,1,0,0,0,0,0,0
1,5.24,Medium,F,No,31,0,0,0,0,0,1,1
2,4.22,Medium,M,No,42,1,1,0,0,1,0,0
3,4.81,Long,F,No,30,0,0,0,0,0,0,0
4,3.95,Long,M,Yes,29,0,0,0,1,1,0,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3483 entries, 0 to 3482
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Elapsed_Time       3483 non-null   float64
 1   Time_in_Community  3483 non-null   object
 2   Gender             3483 non-null   object
 3   Working            3483 non-null   object
 4   Age                3483 non-null   int64
 5   Family             3483 non-null   int64
 6   Hobbies            3483 non-null   int64
 7   Social_Club        3483 non-null   int64
 8   Political          3483 non-null   int64
 9   Professional       3483 non-null   int64
 10  Religious          3483 non-null   int64
 11  Support_Group      3483 non-null   int64
dtypes: float64(1), int64(8), object(3)
memory usage: 326.7+ KB

In [5]:
df.describe(include="all")

,Elapsed_Time,Time_in_Community,Gender,Working,Age,Family,Hobbies,Social_Club,Political,Professional,Religious,Support_Group
count,3483.000000,3483,3483,3483,3483.000000,3483.000000,3483.000000,3483.000000,3483.000000,3483.000000,3483.000000,3483.000000
unique,NaN,3,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Long,F,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1465,1790,1744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,5.921786,NaN,NaN,NaN,36.759403,0.389894,0.300029,0.188056,0.093885,0.324433,0.418605,0.158771
std,2.293446,NaN,NaN,NaN,10.794546,0.487796,0.458336,0.390813,0.291710,0.468230,0.493401,0.365515
min,2.010000,NaN,NaN,NaN,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.875000,NaN,NaN,NaN,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.930000,NaN,NaN,NaN,36.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.840000,NaN,NaN,NaN,46.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,10.150000,NaN,NaN,NaN,142.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
for i in df.columns:
    print(f'{i:30s}>>> {df[i].unique()}')

Elapsed_Time                  >>> [ 8.71  5.24  4.22  4.81  3.95  9.35  2.91  4.54  4.79  3.07  2.2   2.77
  7.32  2.23  2.13  7.15  8.63  3.77  6.52  6.42  7.4   6.33  4.45  6.1
  3.19  6.62  8.57  9.04  9.97  8.12  7.96  2.95  6.2   2.17  5.85  9.42
  6.66  7.88  7.53  5.43  5.71  8.44  2.42  2.67  4.03  7.9   6.44  8.77
  8.49  2.3   2.14  9.96  9.76  3.17  5.31  9.26  5.07  5.28  7.16  6.23
  5.89  6.26  9.3   3.67  7.49  4.58  7.25  4.88  9.12  7.7   3.99  7.76
  9.72  5.9   5.08  5.65  9.75  9.66  3.49  3.18  6.88  2.88  3.39  7.22
  7.91  3.8   6.53  7.24  3.4   2.08  2.66  5.97  4.06  4.71  6.6   4.65
  5.13  4.76  7.71  4.82  5.63  5.21  3.96  7.46  2.24  2.18  4.16  8.66
  3.69  5.03  7.95  3.37  8.58  2.85  3.82  3.84  3.1   2.16  7.97  2.46
  6.11  7.84  2.83  6.37  8.67  3.01  5.42  7.92  3.65  9.84  6.79  6.21
  5.51  6.38  3.74  6.45  4.3   8.8   5.47  2.27  3.6   2.31  5.62  3.
  2.81  6.43  9.24  8.31  8.47  5.99  4.49 10.04  4.13  6.41  8.65  6.95
  8.19  9.06  6.3   7.29  9.34  4.34  7.05  7.44  6.16  6.19  4.64  2.41
  8.15  7.82  2.62  7.06  5.8   6.28  4.14  8.62  8.08  6.86  3.16  7.3
  5.83  7.48  7.34  8.13  8.07  2.29  2.34  7.35  7.07  5.7   4.73  2.25
  9.98  7.66  2.35  6.99  7.6   3.73  7.28  7.72  8.79  7.13  7.26  7.27
  2.59  6.9   9.14  2.87  2.75  9.54  3.15  4.94  9.19  4.62  3.21  4.31
  8.72  7.08  3.48  7.01  3.14  9.5   5.96  2.99  8.74  6.64  7.55  9.91
  7.69  4.12  9.86  7.04  6.31  5.61  8.87  6.97  6.57  9.02  4.55  3.05
  6.56  2.09  7.23  3.24  8.25  2.61  2.48  3.31  2.8   4.95  3.5   6.05
  8.02  4.33  8.86  3.13  4.53  6.83  9.17  6.15  4.7   3.06  9.44  5.57
  6.22  8.3   2.73  4.47  8.33  2.82  3.58  4.52  2.71  7.65  8.01  6.67
  3.78  4.75  6.01  9.89  6.    7.47  8.92  2.69  8.93  3.51  6.06  6.98
  8.21  8.81  4.63  7.63  4.32  9.88  9.46  3.94  5.52  9.31  4.11  3.41
  2.26  2.05  4.37  6.77  8.09  4.1  10.11  2.55  7.12  6.27  3.59  2.54
  7.31  5.98  8.89  4.96  7.61  2.5   3.85  3.3   9.13  3.27  3.76  8.14
  9.6   4.19  4.29  2.32  3.47  8.61  8.73  5.16  3.75  6.84  7.37  2.45
  3.86  7.75  5.02  8.04  5.39  5.18  4.87  9.67  4.46  4.28  4.83  9.57
  3.72  4.56  6.85  6.74  5.92  2.49  7.42  9.69  4.18  9.59 10.03  3.33
  8.85  3.87  3.46  5.15  5.78  8.42  8.98  5.67  9.73  7.58  9.38  4.21
  5.33  2.65  2.68  8.24  3.53  7.67  8.68  5.37  3.83  3.54  4.68  7.5
  9.    3.11  5.74  5.25  5.73  8.36  9.37  4.05  4.61  9.43  4.69  7.89
  8.78  9.64  5.04  7.1   3.09  5.86  8.18  4.93  8.95  4.36  5.93  9.36
  7.21  4.99  6.72  4.02  5.45  8.97  4.09  6.12 10.14  9.94  8.03  9.07
  9.49  8.52  5.27  7.8   4.84  4.38  5.29  4.97  5.2   6.87  9.22  8.41
  8.23  2.22  8.96  3.81  3.79  3.23  9.78  2.53  9.41  6.25  4.85  3.44
  5.69  8.69  3.12  8.53  3.43  6.34  5.3   6.93  4.57  9.9   9.81  7.
  6.68  5.44  9.1   4.26  2.56  5.34  2.98  7.54  6.75  2.04  8.27  7.83
  4.86  8.32  6.94  7.79  7.03  5.72  7.45  7.59  7.18  5.38  2.89  3.04
  8.59  9.65  9.52  7.02 10.02  4.    5.19  3.91  4.41  6.78  5.58  7.98
  5.68 10.    6.51  5.54  9.95  3.62  9.16  5.4   2.94  6.69  2.47  3.89
  7.57  5.17  2.7   8.2  10.06  6.61  7.94  9.62  6.4   7.62  9.28  2.6
  9.08  5.76  7.85  2.19  5.77  2.9   8.43 10.01  3.35  7.19  9.4  10.07
  3.29  4.92  9.18  3.2   5.66  8.22  3.63  3.25  7.51  5.82  5.75  3.38
  4.17  5.06  9.47  5.01  4.78  6.92  2.36  8.94  2.93  2.38  8.83  9.32
  6.65  3.32  3.61  6.59  9.05  6.54  2.64  4.8   2.43  4.43  5.81  5.79
  9.53  7.78  3.52 10.05  2.51  5.05  3.03  6.63  6.71  9.74  2.84  5.87
  6.29  9.48  4.51  7.38  2.1   3.71  2.15  4.44  6.14  8.56  7.86  2.92
  5.94  7.64  8.48  2.74  4.07  8.76  8.38  9.33  3.93  7.74  5.23  5.84
  3.22  7.17  7.99  6.39  4.08  3.92  2.01  9.71  3.64  9.77  6.91  2.96
  8.39  4.24  7.52  6.08  7.09  7.33  8.16  8.05  2.4   7.11  7.73  8.75
  6.96  6.32  7.2   6.8   9.2   3.28  9.51  7.77  5.55  4.27  8.84  6.58
  5.6   2.12  6.49  9.23  5.64  8.45  2.79  4.48  8.55  6.13  2.44  5.09
  5.41  8.7   7.43  4.6   5.    9.15  9.56  5.12  9.87  3.57  3.45  7.14
  2.03  2.63  5.22  2.21  3.08  8.5   8.6   5.5   9.83  6.48  5.46  2.28
  8.35  9.27 10.1   8.11  6.89  2.33  8.17  7.68  8.51  4.39  7.41  7.36
  3.02  9.63  4.01  9.39  6.03  2.86  6.7   5.48  9.01  2.11  2.57  3.36
  5.95  6.82  6.36  2.72  8.29  5.56  3.66  4.66  8.37  6.09 10.15  4.04
  2.52  4.72  5.91  6.24  8.4   4.42  9.7   9.92  3.7   8.99  9.82  4.23
  6.55  7.39  4.5   4.77  8.82  9.25  4.91  2.37  5.35  8.    4.98  8.88
  9.09  9.03  6.18  3.9   6.5   7.87  7.81  7.56  9.11  5.36  8.34  4.74
  5.32  9.55  6.04  2.07  2.97  6.47  5.53  5.49  4.89  2.78  4.2   4.35
  8.06  8.1   3.26  8.64  9.93  8.28  3.34  3.68  9.29  9.8  10.13  8.9
  9.45  2.39  3.88  9.85  8.26  5.26  3.97 10.08  2.58  9.68  2.76  3.98
  9.99  6.46  7.93  5.1   3.56  6.07  9.61  5.59  6.35  5.88  5.14]
Time_in_Community             >>> ['Short' 'Medium' 'Long']
Gender                        >>> ['M' 'F']
Working                       >>> ['No' 'Yes']
Age                           >>> [ 53  31  42  30  29  40  33  27  50  28  20  54  48  25  38  34  32  43
  49  35  41  52  47  22  36  37  46  44  51  39 142  21  57  55  23  19
  26  24  45  56  18  17]
Family                        >>> [1 0]
Hobbies                       >>> [0 1]
Social_Club                   >>> [0 1]
Political                     >>> [0 1]
Professional                  >>> [0 1]
Religious                     >>> [0 1]
Support_Group                 >>> [0 1]

In [7]:
df.tail()

,Elapsed_Time,Time_in_Community,Gender,Working,Age,Family,Hobbies,Social_Club,Political,Professional,Religious,Support_Group
3478,9.00,Long,F,No,51,0,0,0,0,0,0,0
3479,9.48,Medium,F,Yes,21,0,0,0,0,0,1,0
3480,8.36,Long,M,No,49,0,1,0,0,0,1,1
3481,7.34,Long,F,Yes,46,1,1,1,0,1,1,0
3482,6.47,Long,M,Yes,42,1,0,0,0,1,0,0

In [8]:
from collections import Counter

In [9]:
Counter(df.Working)

Counter({'No': 1739, 'Yes': 1744})

In [ ]:
d