In [1]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [2]:
! pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
     ---------------------------------------- 1.3/1.3 MB 41.9 kB/s eta 0:00:00
Requirement already satisfied: scipy>=1.2.1 in c:\users\user\miniconda3\lib\site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: pandas>=0.24.2 in c:\users\user\miniconda3\lib\site-packages (from mlxtend) (1.4.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\user\miniconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\user\miniconda3\lib\site-packages (from mlxtend) (1.1.2)
Requirement already satisfied: setuptools in c:\users\user\miniconda3\lib\site-packages (from mlxtend) (61.2.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\user\miniconda3\lib\site-packages (from mlxtend) (1.23.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\user\miniconda3\lib\site-packages (from mlxtend) (3.5.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\miniconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.37.1)
Requirement already satisfied: packaging>=20.0 in c:\users\user\miniconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\user\miniconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\user\miniconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\miniconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\miniconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\miniconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\miniconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.2.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\miniconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in c:\users\user\miniconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.21.0

In [20]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
transaction_encoder = TransactionEncoder()
transaction_encoder_array = transaction_encoder.fit_transform(dataset)
df = pd.DataFrame(transaction_encoder_array, columns=transaction_encoder.columns_)
df.astype(int)

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,0,0,0,1,0,1,1,1,1,0,1
1,0,0,1,1,0,1,0,1,1,0,1
2,1,0,0,1,0,1,1,0,0,0,0
3,0,1,0,0,0,1,1,0,0,1,1
4,0,1,0,1,1,1,0,0,1,0,0

In [27]:
from mlxtend.frequent_patterns import apriori
result = apriori(df, min_support=0.5,use_colnames=True)
result

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Onion, Eggs)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Onion, Eggs, Kidney Beans)

In [34]:
result.sort_values(by=["support"], ascending=0, inplace=True)
result

    support                     itemsets
1       1.0               (Kidney Beans)
0       0.8                       (Eggs)
5       0.8         (Eggs, Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
6       0.6                (Onion, Eggs)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Onion, Eggs, Kidney Beans)

In [39]:
#میخواهیم دو ایتمی ها رو فقط برسی کنیم
#گام1:اضافه کردن ستون طول ایتم ها

result['length']=[len(item)for item in result.itemsets]

In [40]:
result

    support                     itemsets  length
1       1.0               (Kidney Beans)       1
0       0.8                       (Eggs)       1
5       0.8         (Eggs, Kidney Beans)       2
2       0.6                       (Milk)       1
3       0.6                      (Onion)       1
4       0.6                     (Yogurt)       1
6       0.6                (Onion, Eggs)       2
7       0.6         (Milk, Kidney Beans)       2
8       0.6        (Onion, Kidney Beans)       2
9       0.6       (Kidney Beans, Yogurt)       2
10      0.6  (Onion, Eggs, Kidney Beans)       3

In [42]:
#فیلتر دو ایتمی ها با ساپورت بالای 0.8
result[(result.support>=.8) & (result.length ==2)]

   support              itemsets  length
5      0.8  (Eggs, Kidney Beans)       2

In [44]:
result[[f and s for f,s in zip(result.support >= 0.8 , result.length == 2)]]

   support              itemsets  length
5      0.8  (Eggs, Kidney Beans)       2

In [53]:
from mlxtend.frequent_patterns import association_rules
rules = association_rules(result, metric="confidence", min_threshold=.5)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0
2,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
3,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
5,(Kidney Beans),(Milk),1.0,0.6,0.6,0.60,1.00,0.00,1.0
6,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
7,(Kidney Beans),(Onion),1.0,0.6,0.6,0.60,1.00,0.00,1.0
8,(Kidney Beans),(Yogurt),1.0,0.6,0.6,0.60,1.00,0.00,1.0
9,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
10,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
11,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
12,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
13,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
14,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
15,(Kidney Beans),"(Onion, Eggs)",1.0,0.6,0.6,0.60,1.00,0.00,1.0

In [54]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
3,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
11,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
12,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
13,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
14,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.6