In [1]:
import pandas as pd

In [2]:
internet_data_set = pd.read_csv("D:\\python\\clone\\DataMiningwithPython\\Session01\\Internet_DataSet.csv")

In [3]:
internet_data_set

,Gender,Race,Birth_Year,Marital_Status,Years_on_Internet,Hours_Per_Day,Preferred_Browser,Preferred_Search_Engine,Preferred_Email,Read_News,Online_Shopping,Online_Gaming,Facebook,Twitter,Other_Social_Network
0,M,White,1972,M,8,1,Firefox,Google,Yahoo,Y,N,N,Y,N,NaN
1,M,Hispanic,1981,S,14,2,Chrome,Google,Hotmail,Y,N,N,Y,N,NaN
2,F,African American,1977,S,6,2,Firefox,Yahoo,Yahoo,Y,Y,NaN,Y,N,NaN
3,F,White,1961,D,8,6,Firefox,Google,Hotmail,N,Y,N,N,Y,NaN
4,M,White,1954,M,2,3,Internet Explorer,Bing,Hotmail,Y,Y,N,Y,N,NaN
5,M,African American,1982,D,15,4,Internet Explorer,Google,Yahoo,Y,N,Y,N,N,NaN
6,M,African American,1981,D,11,2,Firefox,Google,Yahoo,NaN,Y,NaN,Y,Y,LinkedIn
7,M,White,1977,S,3,3,Internet Explorer,Yahoo,Yahoo,Y,NaN,NaN,Y,99,LinkedIn
8,F,African American,1969,M,6,2,Firefox,Google,Gmail,N,Y,N,N,N,NaN
9,M,White,1987,S,12,1,Safari,Yahoo,Yahoo,Y,NaN,Y,Y,N,MySpace
10,F,Hispanic,1959,D,12,5,Chrome,Google,Gmail,Y,N,N,Y,N,Google+

###  missing values

1-Check for Missing data<br>
2-replace/clean miss deta

In [4]:
#الان میدونیم داده نان داریم
internet_data_set.isnull().values.any()

True

In [20]:
internet_data_set.isnull().sum()

Gender                     0
Race                       0
Birth_Year                 0
Marital_Status             0
Years_on_Internet          0
Hours_Per_Day              0
Preferred_Browser          0
Preferred_Search_Engine    0
Preferred_Email            0
Read_News                  1
Online_Shopping            2
Online_Gaming              0
Facebook                   0
Twitter                    0
Other_Social_Network       7
dtype: int64

In [5]:
#حالا با چی ریپلیس کنیم؟
#میتونیم با بیشترین تکرار پر کنیم نال هارو
internet_data_set.mode()
#چرا سه تا ستون دارم؟
#بعضی داده ها هر دو به یک اندازه پرتکرار بودن

,Gender,Race,Birth_Year,Marital_Status,Years_on_Internet,Hours_Per_Day,Preferred_Browser,Preferred_Search_Engine,Preferred_Email,Read_News,Online_Shopping,Online_Gaming,Facebook,Twitter,Other_Social_Network
0,M,White,1977.0,D,6,2.0,Firefox,Google,Yahoo,Y,Y,N,Y,N,LinkedIn
1,NaN,NaN,1981.0,S,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#ریپلیس کردن داده ها
internet_data_set['Online_Gaming'].fillna('N', inplace = True)
internet_data_set['Online_Gaming']

0     N
1     N
2     N
3     N
4     N
5     Y
6     N
7     N
8     N
9     Y
10    N
Name: Online_Gaming, dtype: object

In [7]:
#یه راه دیگه که خودم بیشتر ترجیح میدهم

missed_replaced_internet_dataSet = pd.read_csv("D:\\python\\clone\\DataMiningwithPython\\Session01\\Internet_DataSet.csv")
missed_replaced_internet_dataSet
a = missed_replaced_internet_dataSet['Online_Gaming'].mode()
missed_replaced_internet_dataSet['Online_Gaming'].fillna(f'{a[0]}',inplace = True)
missed_replaced_internet_dataSet

,Gender,Race,Birth_Year,Marital_Status,Years_on_Internet,Hours_Per_Day,Preferred_Browser,Preferred_Search_Engine,Preferred_Email,Read_News,Online_Shopping,Online_Gaming,Facebook,Twitter,Other_Social_Network
0,M,White,1972,M,8,1,Firefox,Google,Yahoo,Y,N,N,Y,N,NaN
1,M,Hispanic,1981,S,14,2,Chrome,Google,Hotmail,Y,N,N,Y,N,NaN
2,F,African American,1977,S,6,2,Firefox,Yahoo,Yahoo,Y,Y,N,Y,N,NaN
3,F,White,1961,D,8,6,Firefox,Google,Hotmail,N,Y,N,N,Y,NaN
4,M,White,1954,M,2,3,Internet Explorer,Bing,Hotmail,Y,Y,N,Y,N,NaN
5,M,African American,1982,D,15,4,Internet Explorer,Google,Yahoo,Y,N,Y,N,N,NaN
6,M,African American,1981,D,11,2,Firefox,Google,Yahoo,NaN,Y,N,Y,Y,LinkedIn
7,M,White,1977,S,3,3,Internet Explorer,Yahoo,Yahoo,Y,NaN,N,Y,99,LinkedIn
8,F,African American,1969,M,6,2,Firefox,Google,Gmail,N,Y,N,N,N,NaN
9,M,White,1987,S,12,1,Safari,Yahoo,Yahoo,Y,NaN,Y,Y,N,MySpace
10,F,Hispanic,1959,D,12,5,Chrome,Google,Gmail,Y,N,N,Y,N,Google+

In [8]:
# حذف کردن دیتا نان
df = pd.read_csv("D:\\python\\clone\\DataMiningwithPython\\Session01\\Internet_DataSet.csv")
df.dropna(subset=["Read_News","Online_Shopping"],inplace=True)
df

,Gender,Race,Birth_Year,Marital_Status,Years_on_Internet,Hours_Per_Day,Preferred_Browser,Preferred_Search_Engine,Preferred_Email,Read_News,Online_Shopping,Online_Gaming,Facebook,Twitter,Other_Social_Network
0,M,White,1972,M,8,1,Firefox,Google,Yahoo,Y,N,N,Y,N,NaN
1,M,Hispanic,1981,S,14,2,Chrome,Google,Hotmail,Y,N,N,Y,N,NaN
2,F,African American,1977,S,6,2,Firefox,Yahoo,Yahoo,Y,Y,NaN,Y,N,NaN
3,F,White,1961,D,8,6,Firefox,Google,Hotmail,N,Y,N,N,Y,NaN
4,M,White,1954,M,2,3,Internet Explorer,Bing,Hotmail,Y,Y,N,Y,N,NaN
5,M,African American,1982,D,15,4,Internet Explorer,Google,Yahoo,Y,N,Y,N,N,NaN
8,F,African American,1969,M,6,2,Firefox,Google,Gmail,N,Y,N,N,N,NaN
10,F,Hispanic,1959,D,12,5,Chrome,Google,Gmail,Y,N,N,Y,N,Google+

### Inconsistent Data

In [9]:
#یه وقتی داده نال نیست فقط غیرمنطقیه.مثلا یکی وزنشو زده 1000کیلو یا -4
df = pd.read_csv("D:\\python\\clone\\DataMiningwithPython\\Session01\\Internet_DataSet.csv")

In [10]:
#چک کردن تایپشون.مثلا اگر وزن ابجکت باشه یه چیزی غلطه
df.dtypes

Gender                     object
Race                       object
Birth_Year                  int64
Marital_Status             object
Years_on_Internet           int64
Hours_Per_Day               int64
Preferred_Browser          object
Preferred_Search_Engine    object
Preferred_Email            object
Read_News                  object
Online_Shopping            object
Online_Gaming              object
Facebook                   object
Twitter                    object
Other_Social_Network       object
dtype: object

In [11]:
#اگر دسته بندی دیتا ها کم باشن 
for i in df.columns:
    print(f'{i :30s}>>> {df[i].unique()}')

Gender                        >>> ['M' 'F']
Race                          >>> ['White' 'Hispanic' 'African American']
Birth_Year                    >>> [1972 1981 1977 1961 1954 1982 1969 1987 1959]
Marital_Status                >>> ['M' 'S' 'D']
Years_on_Internet             >>> [ 8 14  6  2 15 11  3 12]
Hours_Per_Day                 >>> [1 2 6 3 4 5]
Preferred_Browser             >>> ['Firefox' 'Chrome' 'Internet Explorer' 'Safari']
Preferred_Search_Engine       >>> ['Google' 'Yahoo' 'Bing']
Preferred_Email               >>> ['Yahoo' 'Hotmail' 'Gmail']
Read_News                     >>> ['Y' 'N' nan]
Online_Shopping               >>> ['N' 'Y' nan]
Online_Gaming                 >>> ['N' nan 'Y']
Facebook                      >>> ['Y' 'N']
Twitter                       >>> ['N' 'Y' '99']
Other_Social_Network          >>> [nan 'LinkedIn' 'MySpace' 'Google+']

In [12]:
#برای داده های عددی بیشترین و کمترین میتونه کمک کنه
df.describe()

        Birth_Year  Years_on_Internet  Hours_Per_Day
count    11.000000          11.000000      11.000000
mean   1972.727273           8.818182       2.818182
std      10.743285           4.331701       1.601136
min    1954.000000           2.000000       1.000000
25%    1965.000000           6.000000       2.000000
50%    1977.000000           8.000000       2.000000
75%    1981.000000          12.000000       3.500000
max    1987.000000          15.000000       6.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   11 non-null     object
 1   Race                     11 non-null     object
 2   Birth_Year               11 non-null     int64
 3   Marital_Status           11 non-null     object
 4   Years_on_Internet        11 non-null     int64
 5   Hours_Per_Day            11 non-null     int64
 6   Preferred_Browser        11 non-null     object
 7   Preferred_Search_Engine  11 non-null     object
 8   Preferred_Email          11 non-null     object
 9   Read_News                10 non-null     object
 10  Online_Shopping          9 non-null      object
 11  Online_Gaming            8 non-null      object
 12  Facebook                 11 non-null     object
 13  Twitter                  11 non-null     object
 14  Other_Social_Network     4 non-null      object
dtypes: int64(3), object(12)
memory usage: 1.4+ KB

In [14]:
#مثلا متوجه شدیم یه 99 در ستون توییتر هست و داده بی منطقیه 
df["Twitter"][0]='99'
df["Twitter"]== '99'

C:\Users\user\AppData\Local\Temp\ipykernel_24788\1203001668.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Twitter"][0]='99'

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
Name: Twitter, dtype: bool

In [15]:
#replace
df['Twitter'].replace("99",'N',inplace=True)
df

,Gender,Race,Birth_Year,Marital_Status,Years_on_Internet,Hours_Per_Day,Preferred_Browser,Preferred_Search_Engine,Preferred_Email,Read_News,Online_Shopping,Online_Gaming,Facebook,Twitter,Other_Social_Network
0,M,White,1972,M,8,1,Firefox,Google,Yahoo,Y,N,N,Y,N,NaN
1,M,Hispanic,1981,S,14,2,Chrome,Google,Hotmail,Y,N,N,Y,N,NaN
2,F,African American,1977,S,6,2,Firefox,Yahoo,Yahoo,Y,Y,NaN,Y,N,NaN
3,F,White,1961,D,8,6,Firefox,Google,Hotmail,N,Y,N,N,Y,NaN
4,M,White,1954,M,2,3,Internet Explorer,Bing,Hotmail,Y,Y,N,Y,N,NaN
5,M,African American,1982,D,15,4,Internet Explorer,Google,Yahoo,Y,N,Y,N,N,NaN
6,M,African American,1981,D,11,2,Firefox,Google,Yahoo,NaN,Y,NaN,Y,Y,LinkedIn
7,M,White,1977,S,3,3,Internet Explorer,Yahoo,Yahoo,Y,NaN,NaN,Y,N,LinkedIn
8,F,African American,1969,M,6,2,Firefox,Google,Gmail,N,Y,N,N,N,NaN
9,M,White,1987,S,12,1,Safari,Yahoo,Yahoo,Y,NaN,Y,Y,N,MySpace
10,F,Hispanic,1959,D,12,5,Chrome,Google,Gmail,Y,N,N,Y,N,Google+

In [16]:
#پاک کردن
q= df['Twitter'][df["Twitter"]== '99'].index
df.drop(q)

,Gender,Race,Birth_Year,Marital_Status,Years_on_Internet,Hours_Per_Day,Preferred_Browser,Preferred_Search_Engine,Preferred_Email,Read_News,Online_Shopping,Online_Gaming,Facebook,Twitter,Other_Social_Network
0,M,White,1972,M,8,1,Firefox,Google,Yahoo,Y,N,N,Y,N,NaN
1,M,Hispanic,1981,S,14,2,Chrome,Google,Hotmail,Y,N,N,Y,N,NaN
2,F,African American,1977,S,6,2,Firefox,Yahoo,Yahoo,Y,Y,NaN,Y,N,NaN
3,F,White,1961,D,8,6,Firefox,Google,Hotmail,N,Y,N,N,Y,NaN
4,M,White,1954,M,2,3,Internet Explorer,Bing,Hotmail,Y,Y,N,Y,N,NaN
5,M,African American,1982,D,15,4,Internet Explorer,Google,Yahoo,Y,N,Y,N,N,NaN
6,M,African American,1981,D,11,2,Firefox,Google,Yahoo,NaN,Y,NaN,Y,Y,LinkedIn
7,M,White,1977,S,3,3,Internet Explorer,Yahoo,Yahoo,Y,NaN,NaN,Y,N,LinkedIn
8,F,African American,1969,M,6,2,Firefox,Google,Gmail,N,Y,N,N,N,NaN
9,M,White,1987,S,12,1,Safari,Yahoo,Yahoo,Y,NaN,Y,Y,N,MySpace
10,F,Hispanic,1959,D,12,5,Chrome,Google,Gmail,Y,N,N,Y,N,Google+

In [17]:
#راه استاد
df = pd.read_csv("D:\\python\\clone\\DataMiningwithPython\\Session01\\Internet_DataSet.csv")
index = df.index[df.Twitter == '99']
df.drop(index=index)
index

Int64Index([7], dtype='int64')

In [18]:
oop = pd.DataFrame([100,900,800])
oop.index[[True,False,True]]

Int64Index([0, 2], dtype='int64')